html {
  font-family: sans-serif;
  font-style: italic;
}

body {
  display: flex;
  justify-content: center;
  height: 90vh;
}

@media only screen and (max-width: 767px) {
  body {
    overflow: hidden;
  }
}

.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#1027FF;}

#picker {
  margin-top: 20px;
}

#image {
  height: 55vh;
  width: auto;
  position: fixed;
  top: 25vh;
  z-index: 5;
}

input {
  display: none;
}

h1 {
  color: #fff;
  position: fixed;
  bottom: 30vh;
  z-index: 9;
  font-size: 0.9rem;
  text-transform: uppercase;
}

h1::before {
  content: '#';
}
