body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: row-reverse; */
  height: 90vh;
}

.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#1027FF;}

#picker {
  margin-top: 20px;
}

#image {
  height: 60vh;
  width: auto;
  position: fixed;
  top: 28vh;
}

input {
  display: none;
}

h1 {
  color: #fff;
  position: fixed;
  bottom: 25vh;
  z-index: 9;
  font-size: 1rem;
  text-transform: uppercase;
}

h1::before {
  content: '#';
}
